@use '@angular/material' as mat;

@mixin anms-child-component-theme($theme) {
  $warn: map-get(mat.m2-get-color-config($theme), warn);

  anms-child {
    > div {
      border-color: mat.m2-get-color-from-palette($warn);

      > h2 {
        color: mat.m2-get-color-from-palette($warn);
      }
    }
  }
}
